/* No Headaches */
/* http://github.com/noHeadaches */

body {
  background-color: #282828;
  color: #f46d92;
}

nav.navbar.navbar-default {
  background: #444;
  border: 0;
}

pre {
  color: #F46D92;
  background: #333;
  border-color: #D96585;
}

pre .com {
  color: #BAD2BA;
}

h1, h2, h3, h4, h5 {
  color: #92BF91;
}

a, .navbar-default .navbar-brand, ul.nav.navbar-nav > li > a {
  color: rgba(181, 161, 161, 0.78);
}

a:hover, .navbar-default .navbar-brand:hover, ul.nav.navbar-nav > li > a:hover {
  color: rgba(181, 161, 161, 1);
}

#x-footer, #x-projnav, #x-search-query {
  background: #333;
}

#x-search-query {
  color: #92BF91;
}
