// dark
$color-dark: #282828;
$color-dark-bright: #333;
$color-dark-brighter: #444;

// pink
$color-pink: #D7728D;
$color-pink-dead: #B5A1A1;
$color-pink-bright: #D85D7F;

// green
$color-green: #92BF91;
